.gridcontainer {
  padding: 3rem 8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 1.8rem;
}

.css-woxc1c-MuiGrid-root {
  padding: 3rem 7rem !important;
}

.gridbox {
  cursor: pointer;
  transition: all 0.3s;
  border: 3px solid transparent;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 15px;
  padding: 1rem;
  background-color: var(--darkgrey);
}

h3 {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.gridbox p {
  text-transform: capitalize;

  color: var(--grey);
  font-weight: 700;
  font-size: 0.8rem;
}

.name-img {
  gap: 2rem;
  display: flex;
  justify-content: space-between;
}

.name-img img {
  object-fit: contain;
  width: 3rem;
}

.persenteg {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.persenteg h4 {
  padding: 0.6rem 1rem;
}

.green h4 {
  color: var(--green);
  border-radius: 30px;
  border: 3px solid var(--green);
}

.red h4 {
  color: var(--red);

  border-radius: 30px;
  border: 3px solid var(--red);
}

.greenicon {
  color: var(--green);
  width: 2.5rem !important;
  height: 2.5rem !important;
  border: 3px solid var(--green);
  border-radius: 50%;
}
.redicon {
  color: var(--red);
  width: 2.5rem !important;
  height: 2.5rem !important;
  border: 3px solid var(--red);
  border-radius: 50%;
}
.redicon:hover,
.red h4:hover {
  background-color: var(--red);
  color: var(--white) !important;
  transition: all 0.3s ease 0s;
}

.greenicon:hover,
.green h4:hover {
  background-color: var(--green);
  color: var(--white) !important;
  transition: all 0.3s ease 0s;
}
.redbox:hover {
  border: 3px solid var(--red);
}
.greenbox:hover {
  border: 3px solid var(--green);
}

.green {
  color: var(--green);
}
.red {
  color: var(--red);
}

/* *********************list container started from here******************************** */

.add_button svg {
  color: white;
}

.listcontainer {
  display: flex;
  flex-direction: column;

  gap: 1.2rem;
}

.listbox {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.listbox h2 {
  font-weight: 500;
  font-size: 1.3rem;
}

.listbox > * {
  width: 100%;
}

.time {
  flex-wrap: nowrap;
  text-transform: capitalize;
  color: var(--green);
  width: 100%;
}

.listbox .name-img {
  width: 120%;
}
.millon {
  display: none;
}
/* Responsive styles for list container 800 px */

.nodata_img {
  margin: auto;
  display: block;
  width: 75%;
}
.gridcontainer .nodata_img {
  width: 190%;
}

@media only screen and (max-width: 800px) {
  .css-woxc1c-MuiGrid-root {
    padding: 0 !important;
  }
  .name-img {
    gap: 0.5rem;
    display: flex;
  }
  .none {
    display: none;
  }
  .gridcontainer {
    color: var(--white);
    padding: 0;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    gap: 1rem;
  }

  .gridbox {
    height: 100%;
    width: 100%;
    padding: 1rem;
    gap: 0;
  }
  .css-13xfq8m-MuiTabPanel-root {
    display: flex !important;
    padding: 0;
    justify-content: center !important;
    align-items: center !important;
  }

  /* list container responsive */

  .listcontainer {
    padding: 1rem;

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .listbox {
    padding: 0.5rem 1rem !important;
    width: 100%;
    overflow: hidden;
  }

  .listbox .icon {
    display: none;
  }

  .listbox .time {
    display: none;
  }
  .listbox .name-img img {
    object-fit: contain;
    width: 2.5rem;
  }
  .listbox h3 {
    font-size: 0.7rem;
  }

  .listbox h2 {
    display: none;
  }
  .millon {
    font-size: 1rem !important;
    display: block !important;
  }
  .listbox .persenteg {
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;

    gap: 0;
  }
  .css-woxc1c-MuiGrid-root {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .nodata_img {
    margin: auto;
    display: block;
    width: 90%;
  }
  .gridcontainer .nodata_img {
    width: 90%;
  }
  .persenteg h4 {
    padding: 5px;
  }
}

/* Responsive styles for list container 500 px */

@media only screen and (max-width: 500px) {
  .select_crypto {
    display: none;
  }
  .css-17mb3wo {
    padding-inline: 10px;

    display: flex;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    background-color: var(--darkgrey);
  }
  .none {
    display: none;
  }
  .gridcontainer {
    padding: 0;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: fit-content;
    gap: 0.5rem;
  }

  .gridbox {
    height: 100%;
    width: 100%;
    padding: 1rem;
  }

  .css-13xfq8m-MuiTabPanel-root {
    display: flex !important;
    padding: 1rem !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .listbox .persenteg h4 {
    padding: 3px;
  }
  .listbox .red h4 {
    font-size: 0.8rem;
    color: var(--red);
    border: 2px solid var(--red);
  }
  .listbox .green h4 {
    padding: 3px;
    font-size: 0.8rem;
    color: var(--red);
    border: 2px solid var(--red);
  }
  .name-img {
    gap: 0.5rem;
    display: flex;
  }
  .listbox .persenteg {
    width: 100%;

    padding-left: 1rem;
    display: flex;
    align-items: baseline;
    gap: 2rem;
    justify-content: space-around;
  }
  .persenteg h4 {
    padding: 3px;
  }
}
.listbox > * {
  width: 100%;
}
.css-woxc1c-MuiGrid-root {
  grid-template-columns: repeat(1, 1fr) !important;
}
