.css-1sazv7p-MuiStack-root {
  margin-bottom: 2rem;
  align-items: center !important;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: var(--blue) !important;
  color: var(--white) !important;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
  color: inherit;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding: 1rem !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  color: rgb(255, 255, 255) !important;
  border: 0.2px solid var(--grey) !important;
}

.css-wjh20t-MuiPagination-ul {
  gap: 5px !important;
}

.css-1v2lvtn-MuiPaginationItem-root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.875rem !important;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  text-align: center;
  box-sizing: border-box;
  min-width: 32px;
  padding: 0 6px;
  margin: 0 3px;
  color: rgb(255 255 255) !important;
  height: auto;
}
