.compare {
  gap: 1.5rem;
  display: flex;
  padding: 1rem !important;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.BasicSelect {
  border-radius: 10px;
  width: 100%;
  background-color: var(--darkgrey);
  padding: 1rem;
  display: flex;
  align-items: baseline;
  gap: 1.5rem;
}

.coin_data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 0 !important;
}

.listbox {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.dec_box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 !important;
  padding: 1.5rem;
  width: 100%;
  border-radius: 15px;
  background-color: var(--darkgrey);
}
.dec_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.coin_decription {
  margin-block: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.chartcontainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--darkgrey);
  color: var(--white);
}

.select_crypto {
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-select-single:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  color: rgb(49, 49, 49);
  border-color: transparent !important;
  font-size: 0.6rem;
  color: var(--white);
  background-color: rgb(234, 234, 234) !important;
  width: 100%;
  height: 2.5rem;
  padding: 9px 7px;
}

span {
  padding: 0.2rem;

  color: rgb(35, 35, 35) !important;
}

.css-15ya79y-MuiGrid-root {
  padding: 0 !important;
}

.css-i6bazn {
  width: 100%;
}
