.footer {
  text-transform: capitalize;
  background-color: var(--darkgrey);
  color: var(--white);
  padding-inline: 3rem;
  padding-top: 3rem;
  margin-top: 3rem;
  width: 100%;
}

.flexr {
  gap: 1rem;

  display: flex;
  justify-content: space-between;
}

.flexc {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.flexr a svg {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.options {
  padding-inline: 5rem;
}

a {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
a svg {
  font-size: 0.5rem;
}

.copyright {
  text-align: center;
  padding: 1.5rem;
}
p {
  color: rgb(225, 225, 225);
}

.contect {
  margin-block: 1rem;
}

.project {
  width: max-content;
  align-items: center !important;
}

@media screen and (max-width: 800px) {
  footer {
    padding: 1rem;
  }
  .flexr {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  footer {
    padding: 1rem;
  }
  .flexr {
    display: grid;
    grid-template-columns: 1fr;
  }
}
