.btnrroup {
  height: 2.5rem;
  background-color: var(--grey) !important;
  border-radius: 10px;
}

.toggle_btn {
  background-color: var(--grey) !important;
  padding: 0.5rem 1rem !important;
  transition: all 0.3s;
}
.toggle_btn:hover {
  background-color: var(--blue) !important;
  color: var(--white);
}

.toggle_btn h4 {
  font-size: 0.8rem;
  color: var(--white);
}

@media screen and (max-width: 768px) {
  .toggle_btn {
    padding: 0.5rem 0.5rem !important;
  }
  .toggle_btn h4 {
    font-size: 0.6rem;
  }
}
